<div class="container-fluid">
    <div class="row mt-5 ">
        <div class="col-sm-12 m-lg-auto">
            <!--<app-card cardTitle="Hello">-->
            <form name="editForm" role="form" novalidate>
                <div class="card card-box mb-2">

                    <div class="card-title text-center">
                        DRS CHALLAN CLOSE
                    </div>
                    <div class="card-body my-3 cardbodyFont">
                        <div class="row">


                            <div class="col-md-2   text-end  labeltext">
                                <label class="form-control-label" for="field_flag">Drs No</label>
                            </div>
                            <div class="col-md-2 mb-2">
                                <select type="text" class="form-select form-select-sm custom-select custom-select-sm"
                                    name="flag" id="field_flag" formControlName="IsActive" required maxlength="1">
                                    <option value="Y">1</option>
                                    <option value="N">2</option>
                                </select>
                            </div>



                            <div class=" col-md-2  text-center mt-4 mt-lg-0">
                                <button type="submit" id="save"
                                    class="btn  btn-sm rounded-pill my-btn-light">
                                    Submit
                                </button>


                            </div>


                        </div>

                        <div class="table-responsive mt-3">
                            <table class="table table-sm table-striped" aria-describedby="page-heading">
                                <thead class="table-light-new">
                                    <tr>
                                        <th>
                                            <input type="checkbox" />
                                        </th>
                                        <th>Sr. No</th>
                                        <th>Drs No</th>
                                        <th>Route </th>
                                        <th>Vehicle No</th>
                                        <th>Barcode No</th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of drsList; let index = index;">
                                        <td>
                                            <input type="checkbox"  />
                                        </td>
                                        <td>{{ (index + 1) }}</td>
                                        <td>{{ items.drsNo }}</td>
                                        <td>{{ items.route }}</td>
                                        <td>{{ items.VEHICLEnO }}</td>
                                        <td>{{ items.BarcodeNo }}</td>


                                        <td class=" button-column">
                                            <div class="btn-group flex-btn-group-container btn-round-pill1 ">
                                                <button type="button" matTooltip="View" matTooltipPosition="above"
                                                    class="btn d-30 p-0  btn-danger btn-round-pill1 ">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        

                    </div>
                </div>
            </form>
            <!--</app-card>-->
        </div>
    </div>
</div>