<div class="container">
    <div class="row mt-5 ">
      <div class="col-sm-12   col-lg-10 m-lg-auto">
        <!--<app-card cardTitle="Hello">-->
        <form name="editForm" role="form" novalidate>
          <div class="card card-box mb-2">
  
            <div class="card-title text-center">
              COMPANY DIVISION   
            </div>
            <div class="card-body pb-0 cardbodyFont">
              <div class="row">
            
               
                <div class="col-md-2 text-end   labeltext">
                    <label class="form-control-label" for="field_flag">Company Code</label>
                  </div>
                 <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="codeflg"
                         />
                  
                </div>
                      <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="codeflg">Division Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="codeflg"
                         />
                  
                </div>
             
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Division Name</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                 
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Address 1</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Address 2</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Address 3</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Gstn</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Pan</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                
  
               
                
               
                 <div class="card-footer">
                  <!-- Save/Close buttons -->
                  <div class="row card-margin-bottom-10">
                    <div class="col-md-5 text-end"></div>
                    <div class="col-md-1">
                      <button type="submit" id="save" class="btn btn-sm rounded-pill my-btn-light">
                        Save
                      </button>
                    </div>
                    <div class="col-md-1">
                      <button type="button" id="cancel-save" class="btn btn-sm rounded-pill my-btn-light"
                            routerLink="/companydivisionmst">
                        Close
                      </button>
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                </div>
               
              </div>
            
  
            </div>
          </div>
        </form>
        <!--</app-card>-->
      </div>
    </div>
    </div>
  