<div class="container-fluid">
  <div class="row mt-5 ">
    <div class="col-sm-12 m-lg-auto">
      <form name="editForm" role="form" novalidate>
        <div class="card card-box mb-2">
          <div class="card-title text-center">
            MARKET VEHICLE APPROVAL
          </div>
          <div class="card-body my-3 cardbodyFont">
            <div class="row">
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_country">Request No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="code" id="field_code" />
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_stdCode"> Requirement type</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="stdCode"
                  id="field_stdCode" />
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Touching Status</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Touching Point</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">From Branch</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">To Branch</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Loading Place </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Unloading Place</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Goods Types</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>


              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Actual Weight </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Vehicle Type</label>
              </div>
               <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" required maxlength="1">
                  <option value="" selected disabled>Select</option>
                  <option value="">MARKET</option>
                  <option value="">VENDOR</option>
                </select>
              </div>
              <!-- <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div> -->

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Vehicle  Capacity</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Approval Remarks </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Remarks</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>

              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">Status</label>
              </div>
              <!-- <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" formControlName="IsActive" required maxlength="1">
                  <option value="Y">Active</option>
                  <option value="N">Inactive</option>
                </select>
              </div> -->

              <div class="col-md-4 col-lg-3 mb-3">
                <div class="border rounded p-1 d-flex align-items-center gap-3 h-100">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" id="Status" type="radio" name="Status" [value]="'Y'"
                      formControlName="Status" />
                    Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="Status" [value]="'N'" formControlName="Status" />
                    No
                  </div>
                </div>
              </div>




              <div class="m-auto text-center mt-2">
                <button type="submit" id="save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm ">
                  Approve
                </button>
                <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm"
                  routerLink="/">
                  Reject
                </button>
              </div>
            </div>
            <div class="table-responsive mt-2">
              <table class="table table-sm table-striped" aria-describedby="page-heading">
                <thead class="table-light">
                  <tr>
                    <th><span>APPROVE </span></th>
                    <th>REJECT</th>
                    <th>BROKER CODE </th>
                    <th>REQUEST DATE</th>
                    <th>BROKER NAME</th>
                    <th>BROKER NO</th>
                    <th>BROKER RATE</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of addbranchList; let index = index;">
                    <td> <input type="radio"></td>
                    <td>
                      <input type="radio">
                    </td>
                    <td>{{ items.BrokerCode }}</td>
                    <td>{{ items.RequestDate }}</td>
                    <td>{{ items.BrokerName }}</td>
                    <td>{{ items.BrokerNo }}</td>
                    <td>{{ items.BrokerRate}}</td>

                    <td class="text-end button-column">
                      <div class="btn-group flex-btn-group-container">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="alert alert-warning" id="no-result" *ngIf="addbranchList && addbranchList.length === 0">
              <span>No data found</span>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>