<div class="container">
    <div class="row mt-5 ">
      <div class="col-sm-12   col-lg-10 m-lg-auto">
        <!--<app-card cardTitle="Hello">-->
        <form name="editForm" role="form" novalidate>
          <div class="card card-box mb-2">
  
            <div class="card-title text-center">
              TDS RATE   MASTER
            </div>
            <div class="card-body my-3 cardbodyFont">
              <div class="row">
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="codeflg">Tax Head</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="codeflg"
                         />
                  
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="codeflg">Doc Name</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="codeflg"
                         />
                  
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="desflg">Tax Applied On</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="desflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="desflg">Tax Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="desflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Tax Desc</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Tax Rate</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Account Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">	Tax Serial Group</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Financial Year</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                 
                
                
                 
               
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Entry Date</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="date"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                 
                
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Valid From</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="date"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Valid To</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="date"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                 
                
  
               
                
                <div class="col-md-2 text-end   labeltext">
                  <label class="form-check-label" for="field_flag">Status</label>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="IsActive"
                          id="statusActive"
                         checked
                          value="true"
                          required
                        />
                        <label class="form-check-label" for="statusActive">Active</label>
                      </div>
                    
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="IsActive"
                          id="statusInactive"
                      
                          value="false"
                          required
                        />
                        <label class="form-check-label" for="statusInactive">Inactive</label>
                      </div>
                  
                
                </div>
        
                <div class="m-auto text-center mt-2">
                  <hr>
                  <button type="submit" id="save"   class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">
                    Save
                  </button>
                  <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm" routerLink="/tdsratemst" >
                    Close
                  </button>
                </div>
               
              </div>
            
  
            </div>
          </div>
        </form>
        <!--</app-card>-->
      </div>
    </div>
    </div>
  