<div class="container">
    <div class="row mt-5 ">
      <div class="col-sm-12   col-lg-10 m-lg-auto">
        <!--<app-card cardTitle="Hello">-->
        <form name="editForm" role="form" novalidate>
          <div class="card card-box mb-2">
  
            <div class="card-title text-center">
             COMPANY 
            </div>
            <div class="card-body my-3 cardbodyFont">
              <div class="row">
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="codeflg">Company Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="codeflg"
                         />
                  
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="codeflg">Company Name</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="codeflg"
                         />
                  
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="desflg">Address 1.</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="desflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="desflg">Address 2.</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="desflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Address 3.</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="rageflg">Country Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="stdCode"
                         id="rageflg"
                         />
                </div>
                 
               
  
               
                <div class="col-md-2 text-end   labeltext">
                  <label class="form-control-label" for="field_flag">State Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="field_flag"
                          formControlName="IsActive"
                          required
                          maxlength="1">
                    <option value="">HR</option>
                    <option value="">AMD</option>
                    <option value="">NDA</option>
                  </select>
                </div>
                <div class="col-md-2 text-end   labeltext">
                  <label class="form-control-label" for="field_flag">PinCode</label>
                </div>
                <div class="col-md-4 mb-2">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="field_flag"
                          formControlName="IsActive"
                          required
                          maxlength="1">
                    <option value="">122004</option>
                    <option value="">122005</option>
                    <option value="">115265</option>
                  </select>
                </div>
                
        
               
                <div class="m-auto text-center mt-4">
                  <button type="submit" id="save"   class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">
                    Save
                  </button>
                  <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm" routerLink="/companymst">
                    Close
                  </button>
                </div>
               
              </div>
            
  
            </div>
          </div>
        </form>
        <!--</app-card>-->
      </div>
    </div>
    </div>
  