<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Master Apps</a></li>
              <li class="breadcrumb-item">Master</li>
              <li class="breadcrumb-item">Payable Master</li>
            </ng-container>
          </ol>
        </div>
      </div>
      <div class="card-title text-center">
        PAYABLE MASTER
      </div>
    </div>
  </div>
  <div class="card card-box mb-2">
    <div class="card-header bg-transparent border-bottom">
      <div class="row">
        <div class="col-md-3">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   [(ngModel)]="payableSearch.PayableName"
                   placeholder="Payable Name" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   [(ngModel)]="payableSearch.PanNo"
                   placeholder="Search by PAN No" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   [(ngModel)]="payableSearch.branchGstNo"
                   placeholder="Search by Branch GST No" />
          </div>
        </div>
        <div class="col-md-1">
          <button class="btn btn-sm rounded-pill my-btn-light-grd" type="button" (click)="search()">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div class="col-md-2 ">
          <button class="btn btn-sm rounded-pill my-btn-light"  *ngIf="userRights?.add"  [routerLink]="['/payable-master/new']">Add New</button>
          <div class="btn-group rounded-pill dropdown-end">
            <button class="btn d-30 p-0 my-btn-light-grd" style="border-radius: 30px 0 0 30px;" type="button">
              <i class="bi bi-gear-fill"></i>
            </button>
            <button class="btn d-30 btn-rounded p-0 btn-secondary dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0 30px 30px 0;">
              <i class="bi bi-three-dots-vertical"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end listData">
              <li class="text-center">Exports </li>
              <li class="divider dropdown-divider"></li>
              <li class="dropdown-item">
                <i class="bi bi-file-earmark-excel text-success"></i>
                &nbsp; <span>Excel</span>
              </li>
              <li class="dropdown-item">
                <i class="bi bi-filetype-pdf text-danger"></i>
                &nbsp; <span>Pdf</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
          <thead class="table-light-new">
            <tr>
              <th>Sr No</th>
              <th>Payable ID</th>
              <th>Payable Name</th>
              <th>PAN No</th>
              <th>Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payable of payables; let i = index; trackBy: trackId">
              <td>{{ i + 1 }}</td>
              <td>{{ payable.PayableId }}</td>
              <td>{{ payable.PayableName }}</td>
              <td>{{ payable.PanNo }}</td>
              <td>{{ payable.ActiveState }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button [routerLink]="['/payable-master', payable.Id, 'view']" class="btn btn-sm my-btn-light-grd"
                          matTooltip="View" style="border-radius: 30px 0 0 30px;" matTooltipPosition="above" [disabled]="!this.userRights?.search"
                          type="button">
                    <i class="bi bi-eye-fill"></i>
                  </button>
                  <button type="button" matTooltipPosition="above" [disabled]="!this.userRights?.update"
                          [routerLink]="['/payable-master', payable.Id, 'edit']"
                          class="btn btn-sm my-btn-edit" matTooltip="Edit">
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                  <button type="button" [disabled]="!this.userRights?.print" matTooltip="Print" matTooltipPosition="above"
                          [routerLink]="['/payable-master', payable.Id, 'print']"
                          class="btn btn-sm btn-secondary">
                    <i class="bi bi-printer-fill"></i>
                  </button>

                  <button type="button" [disabled]="!this.userRights?.deleted" (click)="delete(payable)" class="btn btn-sm my-btn-danger" style="border-radius: 0 30px 30px 0;" matTooltipPosition="above" matTooltip="Delete">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="payables.length === 0" class="alert alert-warning">No Payables Found</div>
      </div>
    </div>
  </div>
</div>
