<!--Ajay kumar-->
<div class="container-fluid">
  <div class="row mt-5 ">
    <div class="col-sm-12 m-lg-auto">

      <form name="editForm" role="form" novalidate>
        <div class="card card-box mb-2">
          <div class="card-title text-center">
            VEHICLE TRACKING MASTER
          </div>
          <div class="card-body pb-0 cardbodyFont">
            <div class="row">

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_country">Vehicle No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="code" id="field_code" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_stdCode">Vehicle Type</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select class="form-select form-select-sm text-uppercase" name="stdCode" id="field_stdCode">
                  <option>Select</option>
                  <option>Market</option>
                  <option>Vendor</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Contact No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Weight Capacity</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Load Weight</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Weight Slip </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Origin </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select class="form-select form-select-sm text-uppercase" name="stdCode" id="field_stdCode">
                  <option>Select</option>
                  <option>Noida</option>
                  <option>Pune</option>
                  <option>Gurugram</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Destination </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select class="form-select form-select-sm text-uppercase" name="stdCode" id="field_stdCode">
                  <option>Select</option>
                  <option>Noida</option>
                  <option>Pune</option>
                  <option>Gurugram</option>
                </select>
              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Target Transit </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Departed On </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Arrived On </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Runed Time</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>


              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Tcs No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>


              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Remarks</label>
              </div>
              <div class="col-md-4 col-lg-7 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>






              <div class="card-footer">
                <!-- Save/Close buttons -->
                <div class="row">
                  <div class="col-md-5 text-end"></div>
                  <div class="col-md-1">
                    <button type="submit" id="save" class="btn btn-sm rounded-pill my-btn-light">
                      Save
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button type="button" id="cancel-save" class="btn btn-sm rounded-pill my-btn-light"
                      routerLink="/vehicletrackingmst">
                      Close
                    </button>
                  </div>

                </div>
              </div>

            </div>


          </div>
        </div>
      </form>
      <!--</app-card>-->
    </div>
     
  </div>
    
</div>
