<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Master Apps</a></li>
              <li class="breadcrumb-item">Master</li>
              <li class="breadcrumb-item">Customer Master</li>
            </ng-container>
          </ol>
        </div>
      </div>
      <div class="card-title text-center">
        CUSTOMER MASTER
      </div>
    </div>
  </div>
  <div class="card card-box mb-2">
    <div class="card-header bg-transparent border-bottom">
      <div class="row">
        <div class="col-md-2">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   name="customerCode"
                   id="field_customerCode"
                   placeholder="Code"
                   [(ngModel)]="customerSearch.CustomerCode"
                   type="number" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   name="customerName"
                   id="field_customerName"
                   placeholder="Name"
                   [(ngModel)]="customerSearch.CustomerName"
                   type="text" />
          </div>
        </div>

        <div class="col-md-2">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   name="panNo"
                   id="field_panNo"
                   placeholder="PAN No"
                   [(ngModel)]="customerSearch.panNo"
                   type="text" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   name="branchGstNo"
                   id="field_branchGstNo"
                   placeholder="Branch GST No"
                   [(ngModel)]="customerSearch.branchGstNo"
                   type="text" />
          </div>
        </div>

        <div class="col-md-1">
          <button class="btn btn-sm rounded-pill my-btn-light-grd" type="button" (click)="search()">
            <i class="bi bi-search"></i>
          </button>
        </div>

        <div class="col-md-3 text-end">
          <div class="dropdown">
            <button type="button" id="create-entity" *ngIf="userRights?.add" class="btn btn-sm rounded-pill my-btn-light" [routerLink]="['/customer-master/new']">
              Add New
            </button>
            <div class="btn-group rounded-pill dropdown-end" *ngIf="userRights?.print">
              <button class="btn d-30 p-0 my-btn-light-grd" style="border-radius: 30px 0 0 30px;" type="button">
                <i class="bi bi-gear-fill"></i>
              </button>
              <button class="btn d-30 btn-rounded p-0 btn-secondary dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0 30px 30px 0;">
                <i class="bi bi-three-dots-vertical"></i>
              </button>

              <ul class="dropdown-menu dropdown-menu-end listData">
                <li class="text-center">Exports </li>
                <li class="divider dropdown-divider"></li>
                <li class="dropdown-item" (click)="exportAsExcel()" title="Export to Excel" style="cursor: pointer;">
                  <i class="bi bi-file-earmark-excel text-success"></i>
                  &nbsp; <span>Excel</span>
                </li>
                <li class="dropdown-item" (click)="exportAsPdf()" title="Export to PDF" style="cursor: pointer;">
                  <i class="bi bi-filetype-pdf text-danger"></i>
                  &nbsp; <span>Pdf</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive" id="entities">
        <table class="table table-sm table-striped table-bordered" aria-describedby="page-heading">
          <thead class="table-light-new">
          <tr>
            <th><span>Sr. No.</span></th>
            <th>CUSTOMER CODE</th>
            <th>CUSTOMER NAME</th>
            <th>PAN NUMBER</th>
            <th>STATUS</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers; let index = index; trackBy: trackId">
            <td>{{ (index + 1) }}</td>
            <td>{{ customer.customerCode }}</td>
            <td>{{ customer.customerName }}</td>
            <td>{{ customer.panNo }}</td>
            <td>{{ customer.isActive === 'Y' ? 'Active' : 'Inactive' }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button [routerLink]="['/customer-master', customer.coCode, customer.divCode, customer.customerCode, 'view']"  class="btn btn-sm my-btn-light-grd"
                        matTooltip="View" style="border-radius: 30px 0 0 30px;" matTooltipPosition="above" [disabled]="!this.userRights?.search"
                        type="button">
                  <i class="bi bi-eye-fill"></i>
                </button>
                <button type="button" matTooltipPosition="above" [disabled]="!this.userRights?.update"
                        [routerLink]="['/customer-master', customer.coCode, customer.divCode, customer.customerCode, 'edit']"
                        class="btn btn-sm my-btn-edit" matTooltip="Edit">
                  <i class="bi bi-pencil-fill"></i>
                </button>
<!--                <button type="button" [disabled]="!this.userRights?.print" matTooltip="Print" matTooltipPosition="above"-->
<!--                        [routerLink]="['/customer-master', customer.customerCode, 'print']"-->
<!--                        class="btn btn-sm btn-secondary">-->
<!--                  <i class="bi bi-printer-fill"></i>-->
<!--                </button>-->
                <button type="button" [disabled]="!this.userRights?.deleted" (click)="delete(customer)" class="btn btn-sm my-btn-danger" style="border-radius: 0 30px 30px 0;" matTooltipPosition="above" matTooltip="Delete">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <nav *ngIf="totalPages > 1">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <div>
              <label class="me-2">Records per page:</label>
              <select
                class="form-select form-select-sm d-inline-block w-auto"
                [(ngModel)]="pageSize"
                (change)="setPage(1)"
              >
                <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
              </select>
            </div>
            <div *ngIf="customers.length">
              Showing {{ (page - 1) * pageSize + 1 }} –
              {{ Math.min(page * pageSize, customers.length) }} of {{ customers.length }} entries
            </div>
            <div>
              <ul class="pagination pagination-sm justify-content-end mt-3">

                <!-- Previous -->
                <li class="page-item" [class.disabled]="page === 1">
                  <button class="page-link" (click)="setPage(page - 1)">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                </li>

                <!-- Page Numbers -->
                <li
                  class="page-item"
                  *ngFor="let p of [].constructor(totalPages); let i = index"
                  [class.active]="page === i + 1"
                >
                  <button class="page-link" (click)="setPage(i + 1)">
                    {{ i + 1 }}
                  </button>
                </li>

                <!-- Next -->
                <li class="page-item" [class.disabled]="page === totalPages">
                  <button class="page-link" (click)="setPage(page + 1)">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>


        </nav>
      </div>
      <div class="alert alert-warning" id="no-result" *ngIf="customers && customers.length === 0">
        <span>No data found</span>
      </div>
    </div>
  </div>
</div>
