<div class="container-fluid">
  <div class="row mt-5 ">
    <div class="col-sm-12 m-lg-auto">
      <!--<app-card cardTitle="Hello">-->
      <form name="editForm" role="form" novalidate>
        <div class="card card-box mb-2">

          <div class="card-title text-center">
            VEHICLE   MASTER
          </div>
          <div class="card-body my-3 cardbodyFont">
            <div class="row">

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_country">Co Code</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="code"
                       id="field_code"
                       />
                <!-- <div *ngIf="editForm.get('CityCode').invalid && (editForm.get('CityCode').dirty || editForm.get('CityCode').touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('CityCode').errors.required"> This field is required. </small> 
                </div> -->
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_stdCode">Vehicle No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="stdCode"
                       id="field_stdCode"
                       
                       />
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Owner Name</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="name"
                       id="field_cityName"
                       />
                <!-- <div *ngIf="editForm.get('CityName').invalid && (editForm.get('CityName').dirty || editForm.get('CityName').touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('CityName').errors.required"> This field is required. </small> 
                </div> -->
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Chasis No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                </div> -->
              </div>
           
           

             
              

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Owner Address</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
               
              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Engine No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
               
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Mobile No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
               
              </div>

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Vehicle Model</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
                
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Vehicle Year</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
               
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Actual Capacity </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
              
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Carring Cap</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                         />
              
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Insurance Start</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                         />
                
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Insurance Expiry</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                         />
                
              </div>


              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Vendor Code</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
                
              </div>

              
             
             
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Vehicle Size</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
              
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Pan No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
              
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Capacity</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text"
                       class="form-control form-control-sm text-uppercase"
                       name="pinCode"
                       id="field_pinCode"
                
                         />
               
              </div>
              
              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">Status</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select type="text"
                        class="form-select form-select-sm custom-select custom-select-sm"
                        name="flag"
                        id="field_flag"
                        formControlName="IsActive"
                        required
                        maxlength="1">
                  <option value="Y">Active</option>
                  <option value="N">Inactive</option>
                </select>
              </div>
      
             
              <div class="m-auto text-center mt-4">
                <button type="submit" id="save"   class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">
                  Save
                </button>
                <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm" routerLink="/vehiclemst" >
                  Close
                </button>
              </div>
             
            </div>
          

          </div>
        </div>
      </form>
      <!--</app-card>-->
    </div>
  </div>
  </div>
