<div class="container-fluid">
    <div class="row mt-5 ">
      <div class="col-sm-12 m-lg-auto">
        <!--<app-card cardTitle="Hello">-->
        <form name="editForm" role="form" novalidate>
          <div class="card card-box mb-2">
  
            <div class="card-title text-center">
              PIN CODE   MASTER
            </div>
            <div class="card-body my-3 cardbodyFont">
              <div class="row">

                
                <div class="col-md-2 col-lg-1 text-end labeltext">
                    <label class="form-control-label" for="pincodeflg">Pin Code</label>
                  </div>
                  <div class="col-md-4 col-lg-3 mb-3">
                    <select type="text"
                            class="form-select form-select-sm custom-select custom-select-sm"
                            name="flag"
                            id="pincodeflg"
                      
                            required
                            maxlength="1">
                      <option value="">122004</option>
                      <option value="">122005</option>
                      <option value="">145256</option>
                    </select>
                  </div>
             
                <div class="col-md-2 col-lg-1   text-end labeltext">
                  <label class="form-control-label" for="Areanameflg">Area Name</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="Areanameflg"
                           />
                </div>
             
             
  
               
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="Cityflg">City</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="Cityflg"
                    
                          required
                          maxlength="1">
                    <option value="">Delhi</option>
                    <option value="">HARYANA</option>
                    <option value="">NOIDA</option>
                  </select>
                </div>


                

                <div class="col-md-2 col-lg-1  text-end labeltext">
                  <label class="form-control-label" for="Codflg">Cod Service</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="Codflg"
                  
                           />
                
                </div>

                <div class="col-md-2 col-lg-1 text-end labeltext">
                    <label class="form-control-label" for="Picflg">Pickup Branch</label>
                  </div>
                  <div class="col-md-4 col-lg-3 mb-3">
                    <select type="text"
                            class="form-select form-select-sm custom-select custom-select-sm"
                            name="flag"
                            id="Picflg"
                      
                            required
                            maxlength="1">
                      <option value="">NOIDA</option>
                      <option value="">GURUGRAM</option>
                      <option value="">PUNE</option>
                    </select>
                  </div>


                  <div class="col-md-2 col-lg-1 text-end labeltext">
                    <label class="form-control-label" for="delflg">Delivery Branch</label>
                  </div>
                  <div class="col-md-4 col-lg-3 mb-3">
                    <select type="text"
                            class="form-select form-select-sm custom-select custom-select-sm"
                            name="flag"
                            id="delflg"
                      
                            required
                            maxlength="1">
                      <option value="">NOIDA</option>
                      <option value="">GURUGRAM</option>
                      <option value="">PUNE</option>
                      <option value="">MANESAR</option>
                    </select>
                  </div>

                <div class="col-md-2 col-lg-1   text-end labeltext">
                  <label class="form-control-label" for="pkdisflg">Pickup Distance</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="pkdisflg"
                  
                           />
                </div>

                <div class="col-md-2 col-lg-1   text-end labeltext">
                  <label class="form-control-label" for="deldisflg">Delivery Distance</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="deldisflg"
                  
                           />
               
                </div>
                <div class="col-md-2 col-lg-1  text-end labeltext">
                  <label class="form-control-label" for="odalocaflg">ODA Location</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="odalocaflg"
                           />               
                </div>
                <div class="col-md-2 col-lg-1   text-end labeltext">
                  <label class="form-control-label" for="serNoflg">Serial No</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="serNoflg"
                  
                           />
                
                </div>
                <div class="col-md-2 col-lg-1   text-end labeltext">
                  <label class="form-control-label" for="fromflg">From</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="fromflg"
                           />
                  
                </div>
                <div class="col-md-2 col-lg-1  text-end labeltext">
                  <label class="form-control-label" for="toflg">To</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="toflg"
                           />
                  
                </div>
                <div class="col-md-2 col-lg-1  text-end labeltext">
                  <label class="form-control-label" for="from2flg">From 2</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="from2flg"
                           />
                  
                </div>


                <div class="col-md-2 col-lg-1   text-end labeltext">
                  <label class="form-control-label" for="to2flg">To 2</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="pinCode"
                         id="to2flg"
                  
                           />
                </div>

        
                <div class="col-md-2 col-lg-1 text-end   labeltext">
                  <label class="form-control-label" for="field_flag">Status</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="field_flag"
                          formControlName="IsActive"
                          required
                          maxlength="1">
                    <option value="Y">Active</option>
                    <option value="N">Inactive</option>
                  </select>
                </div>
        
               
                <div class="m-auto text-center mt-4">
                  <button type="submit" id="save"   class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">
                    Save
                  </button>
                  <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm" routerLink="/pincodemst" >
                    Close
                  </button>
                </div>
               
              </div>
            
  
            </div>
          </div>
        </form>
        <!--</app-card>-->
      </div>
    </div>
    </div>
  