<div class="container">
    <div class="row mt-5 ">
      <div class="col-sm-12   col-lg-10 m-lg-auto">
        <!--<app-card cardTitle="Hello">-->
        <form >
          <div class="card card-box mb-2">
  
            <div class="card-title text-center">
              VENDOR VEHICLE RATE   MASTER
            </div>
            <div class="card-body my-3 cardbodyFont">
              <div class="row">
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="field_country">Vehicle No</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="field_code"
                         />
               
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="field_country">Rate Monthly</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="field_code"
                         />
                </div>

                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="field_country">Extra Rate</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="field_code"
                         />
               
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="field_country">Extra Km</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="field_code"
                         />
               
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="field_country">Route per Km</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="field_code"
                         />
               
                </div>
                <div class="col-md-2   text-end labeltext">
                  <label class="form-control-label" for="field_country">Route   Type</label>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text"
                         class="form-control form-control-sm text-uppercase"
                         name="code"
                         id="field_code"
                         />
               
                </div>
                
                
                
             
  
               
                <div class="col-md-2 text-end labeltext">
                  <label class="form-control-label" for="field_flag">Branch Code</label>
                </div>
                <div class="col-md-4 mb-2">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="field_flag"
                    
                          required
                          maxlength="1">
                    <option value="">AMD</option>
                    <option value="">NDA</option>
                  </select>
                </div>
                <div class="col-md-2 text-end labeltext">
                  <label class="form-control-label" for="field_flag">Route</label>
                </div>
                <div class="col-md-4 mb-2">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="field_flag"
                    
                          required
                          maxlength="1">
                    <option value="">Local</option>
                    
                  </select>
                </div>
                <div class="col-md-2 text-end   labeltext">
                  <label class="form-control-label" for="field_flag">Status</label>
                </div>
                <div class="col-md-4 mb-2">
                  <select type="text"
                          class="form-select form-select-sm custom-select custom-select-sm"
                          name="flag"
                          id="field_flag"
                          formControlName="IsActive"
                          required
                          maxlength="1">
                    <option value="Y">Active</option>
                    <option value="N">Inactive</option>
                  </select>
                </div>
        
               
                <div class="m-auto text-center mt-4">
                  <button type="submit" id="save"   class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">
                    Save
                  </button>
                  <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm" routerLink="/vendorvehicleratemst" >
                    Close
                  </button>
                </div>
               
              </div>
            
  
            </div>
          </div>
        </form>
        <!--</app-card>-->
      </div>

      
    </div>
    </div>

   
  