<div class="container-fluid">
  <div class="row mt-5 ">
    <div class="col-sm-12 m-lg-auto">

      <form name="editForm" role="form" novalidate>
        <div class="card card-box mb-2">
          <div class="card-title text-center">
            UNLOADING SHEET CREATE
          </div>
          <div class="card-body my-3 cardbodyFont">

            <div class="row">


              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">ROUTE</label>
              </div>
              <div class="col-md-2 col-lg-2 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" formControlName="IsActive" required maxlength="1">
                  <option value="Y">CKNT TO NSK</option>
                  <option value="N">GGCO TO NDA</option>
                </select>
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">VEHICLE NO</label>
              </div>
              <div class="col-md-2 col-lg-2 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>


              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">BARCODE</label>
              </div>
              <div class="col-md-2 col-lg-2 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="name"
                  id="field_cityName" />

              </div>


              <div class=" col-lg-2  m-auto text-center">
                <button type="submit" id="save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">
                  Save
                </button>
                <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm"
                  routerLink="/unloadingsheet">
                  Unscan
                </button>
              </div>


              <hr class="my-3">

                  <div class="table-responsive mt-3">
                            <table class="table table-sm table-striped" aria-describedby="page-heading">
                                <thead class="table-light-new">
                                    <tr>
                                        <th>
                                            <input type="checkbox" />
                                        </th>
                                        <th>Sr. No</th>
                           
                                        <th>Route </th>
                                        <th>Vehicle No</th>
                                        <th>Barcode No</th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of unloadingsheet; let index = index;">
                                        <td>
                                            <input type="checkbox"   />
                                        </td>
                                        <td>{{ (index + 1) }}</td>
                                    
                                        <td>{{ items.route }}</td>
                                        <td>{{ items.VEHICLEnO }}</td>
                                        <td>{{ items.BarcodeNo }}</td>


                                        <td class=" button-column">
                                            <div class="btn-group flex-btn-group-container btn-round-pill1 ">
                                                <button type="button" matTooltip="Delete" matTooltipPosition="above"
                                                    class="btn d-30 p-0  btn-danger btn-round-pill1 ">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

            </div>


          </div>
        </div>
      </form>
      <!--</app-card>-->
    </div>
  </div>
</div>