<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Master Apps</a></li>
            <li class="breadcrumb-item">Billing</li>
            <li class="breadcrumb-item active">Bill Management</li>
            </ng-container>
          </ol>
        </div>
      </div>
      <div class="card-title text-center">
        Create Bill
      </div>
    </div>
  </div>

  <div class="card card-box mb-2">
    <div class="card-header bg-transparent border-bottom">
      <div class="row">
        <div class="col-md-2">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   [(ngModel)]="billSearch.billNumber"
                   placeholder="Bill Number" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="search-wrapper-mini position-relative">
            <div class="icon-wrapper position-absolute top-50 start-0 translate-middle-y ms-2">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control form-control-sm form-select-sm rounded-pill text-uppercase ps-4"
                   [(ngModel)]="billSearch.serviceMode"
                   placeholder="Service Mode" />
          </div>
        </div>
        <div class="col-md-2">
          <input type="date" class="form-control form-control-sm" [(ngModel)]="billSearch.fromDate" placeholder="From Date">
        </div>
        <div class="col-md-2">
          <input type="date" class="form-control form-control-sm" [(ngModel)]="billSearch.toDate" placeholder="To Date">
        </div>
        <div class="col-md-1">
          <button class="btn btn-sm rounded-pill my-btn-light-grd" type="button" (click)="search()">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div class="col-md-3 text-end">
          <button class="btn btn-sm rounded-pill my-btn-light" *ngIf="userRights?.add" [routerLink]="['/create-bill/new']">
            Add New
          </button>
          <div class="btn-group rounded-pill dropdown-end">
            <button class="btn d-30 p-0 my-btn-light-grd" style="border-radius: 30px 0 0 30px;" type="button">
              <i class="bi bi-gear-fill"></i>
            </button>
            <button class="btn d-30 btn-rounded p-0 btn-secondary dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0 30px 30px 0;">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end listData">
              <li class="text-center">Exports </li>
              <li class="divider dropdown-divider"></li>
              <li class="dropdown-item">
                <i class="bi bi-file-earmark-excel text-success"></i>
                &nbsp; <span>Excel</span>
              </li>
              <li class="dropdown-item">
                <i class="bi bi-filetype-pdf text-danger"></i>
                &nbsp; <span>Pdf</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-striped">
          <thead class="table-light-new">
          <tr>
            <th>Bill No.</th>
            <th>Date</th>
            <th>Service Mode</th>
            <th>Customer</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bill of bills; let i = index; trackBy: trackId">
            <td>{{ bill.billNumber }}</td>
            <td>{{ bill.dwbUpto | date:'dd/MM/yyyy' }}</td>
            <td>{{ bill.serviceMode }}</td>
            <td>{{ bill.customerNameCode }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button [routerLink]="['/create-bill', bill.id, 'view']"
                        class="btn btn-sm my-btn-light-grd"
                        matTooltip="View" style="border-radius: 30px 0 0 30px;"
                        matTooltipPosition="above" [disabled]="!userRights?.search">
                  <i class="bi bi-eye-fill"></i>
                </button>
                <button [routerLink]="['/create-bill', bill.id, 'edit']"
                        class="btn btn-sm my-btn-edit"
                        matTooltip="Edit" matTooltipPosition="above" [disabled]="!userRights?.update">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button type="button" [disabled]="!this.userRights?.print" matTooltip="Print" matTooltipPosition="above"
                        [routerLink]="['/create-bill', bill.id, 'print']"
                        class="btn btn-sm btn-secondary">
                  <i class="bi bi-printer-fill"></i>
                </button>
                <button (click)="delete(bill)"
                        class="btn btn-sm my-btn-danger"
                        style="border-radius: 0 30px 30px 0;"
                        matTooltipPosition="above" matTooltip="Delete" [disabled]="!userRights?.deleted">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="bills.length === 0" class="alert alert-warning">No bills found</div>

        <!-- Pagination -->
<!--        <div class="d-flex justify-content-between mt-3">-->
<!--          <div>-->
<!--            <select class="form-select form-select-sm" style="width: auto;" [(ngModel)]="itemsPerPage">-->
<!--              <option value="10">10 items per page</option>-->
<!--              <option value="25">25 items per page</option>-->
<!--              <option value="50">50 items per page</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <nav>-->
<!--            <ul class="pagination pagination-sm">-->
<!--              <li class="page-item" [class.disabled]="currentPage === 1">-->
<!--                <a class="page-link" (click)="previousPage()">Previous</a>-->
<!--              </li>-->
<!--              <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">-->
<!--                <a class="page-link" (click)="goToPage(page)">{{ page }}</a>-->
<!--              </li>-->
<!--              <li class="page-item" [class.disabled]="currentPage === totalPages">-->
<!--                <a class="page-link" (click)="nextPage()">Next</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
