<div class="container-fluid">
   <div class="row mt-5 ">
      <div class="col-sm-12 m-lg-auto">
         <form name="editForm" role="form" novalidate>
            <div class="card card-box mb-2">
               <div class="card-title text-center">
                 CURRENCY
               </div>

               <div class="card-body my-3 cardbodyFont">
                  <div class="row">
                     <div class="col-md-2 col-lg-1   text-end labeltext">
                        <label class="form-control-label" for="field_country">Currency Name</label>
                     </div>
                      <div class="col-md-4 col-lg-3 mb-3">
                        <select type="text"
                           class="form-select form-select-sm custom-select custom-select-sm"
                           name="flag"
                           id="field_flag"
                           required
                           maxlength="1">
                           <option value="">USD</option>
                           <option value="">Germany</option>
                           <option value="">EUR</option>
                          <option value="">JPY</option>
                          <option value="">INR</option>
                        </select>
                     </div>


                     <div class="col-md-2 col-lg-1   text-end labeltext">
                        <label class="form-control-label" for="field_country">Currency </label>
                     </div>
                      <div class="col-md-4 col-lg-3 mb-3">
                        <select type="text"
                           class="form-select form-select-sm custom-select custom-select-sm"
                           name="flag"
                           id="field_flag"
                           required
                           maxlength="1">
                           <option value="">USA</option>
                           <option value="">Germany</option>
                           <option value="">Japan</option>
                          <option value="">UK</option>
                          <option value="">INDIA</option>
                        </select>
                     </div>


                     <div class="col-md-2 col-lg-1   text-end labeltext">
                        <label class="form-control-label" for="productflg">Unit Rate </label>
                     </div>
                     <div class="col-md-4 col-lg-3 mb-3">
                        <input type="text"
                           class="form-control form-control-sm text-uppercase"
                           name="pinCode"
                           id="productflg"
                           />
                     </div>
                     <div class="col-md-2 col-lg-1 text-end labeltext">
                        <label class="form-control-label" for="field_flag">Inr Rate</label>
                     </div>
                     <div class="col-md-4 col-lg-3 mb-3">
                        <select type="text"
                           class="form-select form-select-sm custom-select custom-select-sm"
                           name="flag"
                           id="field_flag"
                           required
                           maxlength="1">
                           <option value="">74.5</option>
                           <option value="">88.2</option>
                           <option value="">0.68</option>
                          <option value="">98.5</option>
                        </select>
                     </div>
                    
                     
<div class="card-footer">
                <div class="row mb-2">
                  <div class="col-md-5"></div>
                  <div class="col-md-1">
                    <button type="submit" id="save" class="btn btn-sm rounded-pill my-btn-light">
                      Save
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button type="button" id="cancel-save" class="btn btn-sm rounded-pill my-btn-light"
                      routerLink="/CurrencyMaster">
                      Close
                    </button>
                  </div>
                  <div class="col-md-5"></div>
                </div>
              </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>