<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
            <li class="breadcrumb-item active">User Management</li>
          </ol>
        </div>
      </div>
      <div class="card-title text-center">
        USER MANAGEMENT
      </div>
    </div>
  </div>

  <div class="card card-box mb-2">
    <div class="card-header bg-transparent border-bottom">
      <div class="row">
        <div class="col-md-2">
          <input class="form-control form-control-sm" [(ngModel)]="searchParams.loginCode" placeholder="Login Code">
        </div>
        <div class="col-md-2">
          <input class="form-control form-control-sm" [(ngModel)]="searchParams.userName" placeholder="User Name">
        </div>
        <div class="col-md-1">
          <button class="btn btn-sm rounded-pill my-btn-light-grd" type="button" (click)="search()">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div class="col-md-7 text-end">
          <button class="btn btn-sm rounded-pill my-btn-light" *ngIf="userRights?.add"
                  [routerLink]="['/users/new']">
            Add New
          </button>
          <div class="btn-group rounded-pill dropdown-end">
            <button class="btn d-30 p-0 my-btn-light-grd" style="border-radius: 30px 0 0 30px;" type="button">
              <i class="bi bi-gear-fill"></i>
            </button>
            <button class="btn d-30 btn-rounded p-0 btn-secondary dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0 30px 30px 0;">
              <i class="bi bi-three-dots-vertical"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end listData">
              <li class="text-center">Exports </li>
              <li class="divider dropdown-divider"></li>
              <li class="dropdown-item" (click)="exportAsExcel()" title="Export to Excel" style="cursor: pointer;">
                <i class="bi bi-file-earmark-excel text-success"></i>
                &nbsp; <span>Excel</span>
              </li>
              <li class="dropdown-item" (click)="exportAsPdf()" title="Export to PDF" style="cursor: pointer;">
                <i class="bi bi-filetype-pdf text-danger"></i>
                &nbsp; <span>Pdf</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-striped">
          <thead class="table-light-new">
          <tr>
            <th>Login Code</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Status</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of paginatedUsers(); let i = index; trackBy: trackId">
            <td>{{ user.login }}</td>
            <td>{{ user.user }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.userStatus ? 'Active' : 'Inactive' }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button [routerLink]="['/users', user.id, 'view']"
                        class="btn btn-sm my-btn-light-grd"
                        matTooltip="View" style="border-radius: 30px 0 0 30px;"
                        matTooltipPosition="above" [disabled]="!userRights?.search">
                  <i class="bi bi-eye-fill"></i>
                </button>
                <button [routerLink]="['/users', user.id, 'edit']"
                        class="btn btn-sm my-btn-edit"
                        matTooltip="Edit" matTooltipPosition="above" [disabled]="!userRights?.update">
                  <i class="bi bi-pencil-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <nav *ngIf="totalPages > 1">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <div>
              <label class="me-2">Records per page:</label>
              <select
                class="form-select form-select-sm d-inline-block w-auto"
                [(ngModel)]="pageSize"
                (change)="setPage(1)"
              >
                <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
              </select>
            </div>
            <div *ngIf="users.length">
              Showing {{ (page - 1) * pageSize + 1 }} –
              {{ Math.min(page * pageSize, users.length) }} of {{ users.length }} entries
            </div>
            <div>
              <ul class="pagination pagination-sm justify-content-end mt-3">

                <!-- Previous -->
                <li class="page-item" [class.disabled]="page === 1">
                  <button class="page-link" (click)="setPage(page - 1)">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                </li>

                <!-- Page Numbers -->
                <li
                  class="page-item"
                  *ngFor="let p of [].constructor(totalPages); let i = index"
                  [class.active]="page === i + 1"
                >
                  <button class="page-link" (click)="setPage(i + 1)">
                    {{ i + 1 }}
                  </button>
                </li>

                <!-- Next -->
                <li class="page-item" [class.disabled]="page === totalPages">
                  <button class="page-link" (click)="setPage(page + 1)">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>


        </nav>
        <div *ngIf="users.length === 0" class="alert alert-warning">No users found</div>

      </div>
    </div>
  </div>
</div>
