<div class="container-fluid">
    <div class="row mt-5 ">
        <div class="col-sm-12 m-lg-auto">
            <!--<app-card cardTitle="Hello">-->
            <form name="editForm" role="form" novalidate>
                <div class="card card-box mb-2">

                    <div class="card-title text-center">
                        NBC UNLOADINGSHEET
                    </div>
                    <div class="card-body my-3 cardbodyFont">
                        <div class="row">

                            <div class="col-md-2 col-lg-1 text-end labeltext">
                                <label class="form-control-label" for="pincodeflg">Route</label>
                            </div>
                            <div class="col-md-2 col-lg-2 mb-3">
                                <select type="text" class="form-select form-select-sm custom-select custom-select-sm"
                                    name="flag" id="pincodeflg" required maxlength="1">
                                    <option value="">AMC TO CKNT</option>
                                    <option value="">AMD TO JPS</option>
                                    <option value="">BNG TO MYS </option>
                                </select>
                            </div>
                            <div class="col-md-2 col-lg-1 text-end labeltext">
                                <label class="form-control-label" for="pincodeflg">Vehicle No</label>
                            </div>
                            <div class="col-md-2 col-lg-2 mb-3">
                                <select type="text" class="form-select form-select-sm custom-select custom-select-sm"
                                    name="flag" id="pincodeflg" required maxlength="1">
                                    <option value="">RJ40GA5758</option>
                                    <option value="">HR55V1717</option>
                                    <option value="">RJ14GH0918 </option>
                                </select>
                            </div>

                            <div class="col-md-2 col-lg-1   text-end labeltext">
                                <label class="form-control-label" for="deldisflg">Serch Barcode</label>
                            </div>
                            <div class="col-md-2 col-lg-2 mb-3">
                                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                                    id="deldisflg" />

                            </div>


                            <hr>


                            <div class="table-responsive mt-3">
                                <table class="table table-sm table-striped" aria-describedby="page-heading">
                                    <thead class="table-light-new">
                                        <tr>
                                            <th>
                                                <input type="checkbox" />
                                            </th>
                                            <th>Sr. No</th>

                                            <th>Route </th>
                                            <th>Vehicle No</th>
                                            <th>Barcode No</th>


                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let items of nbcunloading; let index = index;">
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                            <td>{{ (index + 1) }}</td>

                                            <td>{{ items.route }}</td>
                                            <td>{{ items.VEHICLEnO }}</td>
                                            <td>{{ items.BarcodeNo }}</td>


                                            <td class="button-column">
                                                <div class="btn-group flex-btn-group-container btn-round-pill1 ">
                                                    <button type="button" matTooltip="Delete" matTooltipPosition="above"
                                                        class="btn d-30 p-0  btn-danger btn-round-pill1 ">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class=" col-md-2  text-center mt-4 mt-lg-0">
                                <button type="submit" id="save" class="btn   btn-sm rounded-pill my-btn-light">
                                    Submit
                                </button>


                            </div>

                        </div>


                    </div>
                </div>
            </form>
            <!--</app-card>-->
        </div>
    </div>
</div>