<div class="container-fluid">
  <div class="row mt-5 ">
    <div class="col-sm-12 ">
      <!--<app-card cardTitle="Hello">-->
      <form name="editForm" role="form" novalidate>
        <div class="card  card-box ">

          <div class="card-title text-center">
            BRANCH MASTER
          </div>
          <div class="card-body  pb-0 cardbodyFont">
            <div class="row">

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_country">Branch Code</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="code" id="field_code" />
                <!-- <div *ngIf="editForm.get('CityCode').invalid && (editForm.get('CityCode').dirty || editForm.get('CityCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('CityCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_cityName">Branch Type</label>
              </div>
             <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" required maxlength="1">
                  <option value="">Booking</option>
                  <option value="">Delivery</option>
                  <option value="">All</option>
                </select>
              </div>

              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_stdCode">Branch Name</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="stdCode"
                  id="field_stdCode" />
              </div>

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Country</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" required maxlength="1">
                  <option value="">Inida</option>
               
                </select>
              </div>





              <div class="col-md-2 col-lg-1 text-end labeltext">
                <label class="form-control-label" for="field_flag">State</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" required maxlength="1">
                  <option value="">Delhi</option>
                  <option value="">Gujrat</option>
                </select>
              </div>


              <div class="col-md-2 col-lg-1 text-end labeltext">
                <label class="form-control-label" for="field_flag">City</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" required maxlength="1">
                  <option value="">HARYANA</option>
                  <option value="">NOIDA</option>
                  <option value="">DELHI</option>
                </select>
              </div>


              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Address</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>

              <div class="col-md-2 col-lg-1 text-end labeltext">
                <label class="form-control-label" for="field_flag">Pin Code</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <select type="text" class="form-select form-select-sm custom-select custom-select-sm" name="flag"
                  id="field_flag" required maxlength="1">
                  <option value="">122001</option>
                  <option value="">122004</option>
                  <option value="">12006</option>
                </select>
              </div>

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Contact Person</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>

              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Contact No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1  text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Email</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Zonal Office</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Gst No</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>




              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode">Docket Start</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />

              </div>


              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">Bio Metric </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <div class="border rounded p-1 d-flex align-items-center gap-3  text-center">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Active'"
                      formControlName="activeState" />
                    Yes
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Inactive'"
                      formControlName="activeState" />
                    No
                  </div>
                </div>
              </div>

              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">CCTV Install</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <div class="border rounded p-1 d-flex align-items-center gap-3  text-center">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Active'"
                      formControlName="activeState" />
                    Yes
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Inactive'"
                      formControlName="activeState" />
                    No
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">NetConnection</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <div class="border rounded p-1 d-flex align-items-center gap-3  text-center">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Active'"
                      formControlName="activeState" />
                    Yes
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Inactive'"
                      formControlName="activeState" />
                    No
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Net Provider</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Crpt Email</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1   text-end labeltext">
                <label class="form-control-label" for="field_pinCode"> Zonal Desc</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <input type="text" class="form-control form-control-sm text-uppercase" name="pinCode"
                  id="field_pinCode" />
                <!-- <div *ngIf="editForm.get('PinCode').invalid && (editForm.get('PinCode').dirty || editForm.get('PinCode').touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('PinCode').errors.required"> This field is required. </small> 
                  </div> -->
              </div>
              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">LOA </label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <div class="border rounded p-1 d-flex align-items-center gap-3  text-center">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Active'"
                      formControlName="activeState" />
                    Yes
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Inactive'"
                      formControlName="activeState" />
                    No
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-lg-1 text-end   labeltext">
                <label class="form-control-label" for="field_flag">Status</label>
              </div>
              <div class="col-md-4 col-lg-3 mb-3">
                <div class="border rounded p-1 d-flex align-items-center gap-3  text-center">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Active'"
                      formControlName="activeState" />
                    Yes
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="activeState" [value]="'Inactive'"
                      formControlName="activeState" />
                    No
                  </div>
                </div>
              </div>


              <div class="card-footer">
                <!-- Save/Close buttons -->
                <div class="row">
                  <div class="col-md-5 text-end"></div>
                  <div class="col-md-1">
                    <button type="submit" id="save" class="btn btn-sm rounded-pill my-btn-light">
                      Save
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button type="button" id="cancel-save" class="btn btn-sm rounded-pill my-btn-light"
                      routerLink="/branchmst">
                      Close
                    </button>
                  </div>

                </div>
              </div>

            </div>


          </div>
        </div>
      </form>
      <!--</app-card>-->
    </div>
  </div>
</div>