<div class="container-fluid">
    <div class="row mt-5">
      <div class="col-sm-12 m-lg-auto">
        <form name="editForm" role="form" novalidate>
          <div class="card card-box mb-2">
            <div class="card-title text-center">CHARGES </div>
            <div class="card-body my-3 cardbodyFont">
              <div class="row">
  
                <!-- Co Code -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_code">Co Code</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="code" id="field_code" />
                </div>
  
                <!-- Div Code -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_stdCode">Div Code</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="stdCode" id="field_stdCode" />
                </div>
  
                <!-- Charge Id -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_chargeId">Charge Id</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="chargeId" id="field_chargeId" />
                </div>
  
                <!-- Charge Desc -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_chargeDesc">Charge Desc</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="chargeDesc" id="field_chargeDesc" />
                </div>
  
                <!-- Applicable To -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_applicable">Applicable To</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="applicable" id="field_applicable" />
                </div>
  
                <!-- Debit Ac -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_debitAc">Debit Ac</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="debitAc" id="field_debitAc" />
                </div>
  
                <!-- Credit Ac -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_creditAc">Credit Ac</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="creditAc" id="field_creditAc" />
                </div>
  
                <!-- Rate -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_rate">Rate</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="rate" id="field_rate" />
                </div>
  
                <!-- Range From -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_rangeFrom">Range From</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="rangeFrom" id="field_rangeFrom" />
                </div>
  
                <!-- Range To -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_rangeTo">Range To</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="rangeTo" id="field_rangeTo" />
                </div>
  
                <!-- Min Charges -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_minCharges">Min Charges</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="minCharges" id="field_minCharges" />
                </div>
  
                <!-- Link Value -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_linkValue">Link Value</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="linkValue" id="field_linkValue" />
                </div>
  
                <!-- Link Id -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_linkId">Link Id</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="linkId" id="field_linkId" />
                </div>
  
                <!-- Link Type -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_linkType">Link Type</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="linkType" id="field_linkType" />
                </div>
  
                <!-- Effective From -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_effectiveFrom">Effective From</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="effectiveFrom" id="field_effectiveFrom" />
                </div>
  
                <!-- Effective To -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_effectiveTo">Effective To</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="effectiveTo" id="field_effectiveTo" />
                </div>
  
                <!-- Tax Applicable -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_taxApplicable">Tax Applicable</label>
                </div>
                <div class="col-md-4 col-lg-3 mb-3">
                  <input type="text" class="form-control form-control-sm text-uppercase" name="taxApplicable" id="field_taxApplicable" />
                </div>
  
                <!-- Status -->
                <div class="col-md-2 col-lg-1 text-end labeltext">
                  <label class="form-control-label" for="field_flag">Status</label>
                </div>
                <!-- <div class="col-md-4 col-lg-3 mb-3">
                  <select class="form-select form-select-sm custom-select custom-select-sm" name="flag" id="field_flag" formControlName="IsActive" required maxlength="1">
                    <option value="Y">Active</option>
                    <option value="N">Inactive</option>
                  </select>
                </div>
  
               
                <div class="m-auto text-center mt-4">
                  <button type="submit" id="save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm">Save</button>
                  <button type="button" id="cancel-save" class="btn shadow-lg btn-secondary rounded-5 mx-2 btn-sm" routerLink="/chargemst">Close</button>
                </div> -->



                 <div class="col-md-4">
                <div class="border rounded p-1 d-flex align-items-center gap-3 h-100">
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" id="Status" type="radio" name="Status" [value]="'Y'"
                      formControlName="Status" />
                    Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="form-check form-check-inline m-0">
                    <input class="form-check-input" type="radio" name="Status" [value]="'N'" formControlName="Status" />
                    No
                  </div>
                </div>
              </div>


<div class="card-footer">
                <div class="row mb-2">
                  <div class="col-md-5"></div>
                  <div class="col-md-1">
                    <button type="submit" id="save" class="btn btn-sm rounded-pill my-btn-light">
                      Save
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button type="button" id="cancel-save" class="btn btn-sm rounded-pill my-btn-light"
                      routerLink="/chargemst">
                      Close
                    </button>
                  </div>
                  <div class="col-md-5"></div>
                </div>
              </div>
  
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  